.main-profile {
	margin: 120px;
	flex: 1 1 auto;
}
.profile {
	display: flex;
	flex-direction: row;
}
.profile-column {
	margin: 120px 50px;
}
.profile-info {
	display: flex;
	flex-direction: column;
}
.profile-header{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.profile-img {
	height: 200px;
	width: 200px;
}
.profile-img > img {
	vertical-align: top;
    height: 150px;
    border-radius: 50%;
}
.profile_main-info{
	display: flex;
	flex-direction: column;
}

.profile-main-text {
	font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.profile-sub-text {
	color: #000;
	font-style: italic;
}