{%extends 'layout/base.html'%}
{% load static %}
{% load contentnote_tags %}
{% load profiledata_tags %}
{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'social/css/preview.css' %}">
{% endblock %}
{% block content %}
<main class="main-profile">
<div class="profile _container">
	<div class="profile-column profile-info">
		{% if edit_user is True %}
			{{user_form}}
			<button type="submit" class=" _button" name="form_name" value="change_form">Сохранить изменения</button>
		{% else %}
			<form method="POST" class="profile__change-form" enctype="multipart/form-data">
				{% csrf_token %}
			<div class="profile-header">
				<div class="profile-img">
					{% if user.logo.url is not none %}
						<img src="{{user.logo.url}}" alt="logo">
						{{user_form.logo}}
					{% else %}
						<img src="{% static 'media/images/default/default-logo.svg' %}" alt="logo">
						{{user_form.logo}}
					{% endif %}
				</div>
				<div class="profile_main-info">
					<h3 class="profile-main-text">{{user.get_full_name}}</h3>
					{{user_form.first_name.as_hidden}}
					{{user_form.last_name.as_hidden}}
					<a href="?edit_user=1">
						<div class="icon_img">
							<img src="{% static 'media/images/default/edit.svg' %}" alt="edit">
						</div>
					</a>
					<p class="profile-sub-text">{{user.email}}</p>
					{{user_form.email.as_hidden}}
				</div>
			</div>
			{% if user.birth_date is not none %}
				<p class="profile-sub-text">День рождения: <br>{{user.birth_date}}</p>
				{{user_form.birth_date.as_hidden}}
			{% else %}
				<p class="profile-sub-text">День рождения: 
					<br>{{user_form.birth_date}}
				</p>
			{% endif %}
			{% if user.sex is not none %}
				<p class="profile-sub-text">Пол: <br>{{user.sex}}</p>
				{{user_form.sex.as_hidden}}
			{% else %}
				<p class="profile-sub-text">Пол: <br>{{user_form.sex}}</p>
			{% endif %}
			{% if user.bio is not none and user.bio != '' %}
				<p class="profile-sub-text">О себе: <br>{{user.bio}}</i></p>
				{{user_form.bio.as_hidden}}
			{% else %}
				<p class="profile-sub-text">{{user_form.bio.label}}: <br>{{user_form.bio}}</p>
			{% endif %}
			<button type="submit" class="profile-button _button" name="form" value="{{user_form.form_name}}?{{request.user}}">Сохранить изменения</button>
			</form>
		{% endif %}
		{% get_payment_list user=request.user %}
		{% if addpay is True or edit_payment %}
			<form  method="post" class="profile__change-form">
				{% csrf_token %}
				{{payment_form.as_p}}
				<button type="submit" class=" _button" name="form" value="{{payment_form.form_name}}?{{edit_payment}}">Добавить банковские данные</button>
			</form>
		{% else %}
			<form method="get">
				<input type="hidden" name="addpay" value="1">
				<button type="submit" class="profile-button _button">Добавить банковские данные</button>
			</form>
		{% endif %}
		{% get_document_list user=request.user %}
		{% if adddoc is True or edit_document %}
			<form  method="post" class="profile__change-form">
				{% csrf_token %}
				{{document_form.as_p}}
				<button type="submit" class="profile-button _button" name="form" value="{{document_form.form_name}}?{{edit_document}}">Добавить документ</button>
			</form>
		{% else %}
			<form method="get">
				<input type="hidden" name="adddoc" value="1">
				<button type="submit" class="profile-button _button">Добавить документ</button>
			</form>
		{% endif %}
	</div>
	<div class="profile-column">
	<div class="profile-travels travels">
		{% if newnote is False and not edit_note %}
			<div class="travels-header">
				<h3 class="profile-main-text">Мои путешествия:</h3>
			</div>
			{% get_short_preview_list request=request profile=True %}
		{% endif %}
	</div>
	{% if newnote is not none and newnote is True or edit_note %}
		<h3 class="profile-main-text">Расскажите о своем путеществии.</h3>
		<p class="profile-sub-text">Поделитесь впечетлениями или дайте советы своим читателям</p>
		{% create_content_note request=request form=note_form note_pk=edit_note %}
	{% else %}
		<div class="get-form">
			<form method="get" action="">
				<input type="hidden" name="newnote" value="1">
				<button type="submit" class="profile-button _button">Написать о путешествии</button>
			</form>
			<a class="profile-button _button"  href="{% url 'index' %}" >Начать путешевие</a>
		</div>
	{% endif %}
	</div>
</div>
</main>
{% endblock %}
{% block scripts %}
{{ block.super }}
	<script src="{% static 'user/js/profile_form.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
{% endblock %}

